.App {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.form-container {
  margin-bottom: 20px;
}

.form-container input {
  padding: 8px;
  margin: 5px;
  width: 200px;
}

.form-container button {
  padding: 8px 16px;
  margin: 5px;
  cursor: pointer;
}

button {
  padding: 8px 16px;
  margin: 10px;
  cursor: pointer;
}

.loading {
  color: blue;
  font-weight: bold;
}

.error {
  color: red;
  font-weight: bold;
}

.movie-list {
  list-style: none;
  padding: 0;
}

.movie-item {
  background: #f4f4f4;
  margin: 10px auto;
  padding: 10px;
  width: 400px;
  border-radius: 4px;
  text-align: left;
}


.movie-item {
  margin-bottom: 10px;
}

.delete-button {
  margin-left: 10px;
  background-color: red;
  color: white;
  border: none;
  padding: 5px 8px;
  cursor: pointer;
  border-radius: 4px;
}

.delete-button:hover {
  background-color: darkred;
}
